@import '../../../shared/variables';
@import '../../../shared/functions';

.main-content {
  @include flexFcn(column, center, flex-start);
  margin: 4vh 0;

  text-align: justify;

  .content__iam {
    height: 70vh;
    width: 100%;
    @include flexFcn(row, space-around, center);

    text-align: left;

    .iam__text-area {
      .text-area__name {
        margin-bottom: 0.625rem;

        b {
          color: $primary-color;
          font-size: 2rem;
        }
      }
    }

    img {
      margin: 0.625rem;
      width: 40vw;
      height: auto;

      $shadow-blur: 5px;
      $shadow-size: 5px;
      $shadow-color: #0000003f;

      filter: drop-shadow($shadow-size 0 $shadow-blur $shadow-color)
        drop-shadow(0 $shadow-size $shadow-blur $shadow-color)
        // drop-shadow(0 -$shadow-size $shadow-blur $shadow-color)
        drop-shadow(-$shadow-size 0 $shadow-blur $shadow-color);
    }
  }

  .content__about {
    margin: 0.5rem 0 1rem 0;

    .about__articles {
      .about__txt {
        text-indent: 50px;
      }
    }

    .about__skills {
      margin: 1rem 0;
      h2 {
        font-size: 1.625rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .content__portfolio,
  .content__contact,
  .content__experience,
  .content__education {
    margin: 1rem auto;
    width: 100%;
  }

  .content__experience,
  .content__education {
    width: 100%;
    margin: 0.625rem auto;
  }
}

@media (min-width: $breakpoint-mobile) {
  .main-content {
    margin: 4vh 10vw;

    .content__iam {
      height: 90vh;

      img {
        margin: 0 0 2rem 0;
        width: auto;
        height: 60vh;

        $shadow-blur: 5px;
        $shadow-size: 5px;
        $shadow-color: #0000007e;

        filter: drop-shadow($shadow-size 0 $shadow-blur $shadow-color)
          drop-shadow(0 $shadow-size $shadow-blur $shadow-color)
          // drop-shadow(0 -$shadow-size $shadow-blur $shadow-color)
          drop-shadow(-$shadow-size 0 $shadow-blur $shadow-color);
      }
    }

    .content__about {
      min-height: 80vh;
      width: 100%;
      margin: 0.5rem 0 1rem 0;
      // @include flexFcn(row, center, center);

      @include gridFcn(
        50% 50%,
        50% 50%,
        'article__about article__skills' 'article__intrests article__skills',
        0 1rem
      );

      .article__about {
        align-self: self-end;
        padding-bottom: 2rem;
      }

      .article__intrests {
        align-self: self-start;
        padding-top: 2rem;
      }

      .article__skills {
        align-self: self-start;
      }
    }

    .content__portfolio {
      margin: 1rem 0;
    }

    .content__contact {
      margin: 1rem 0;
      height: 50vh;
    }
  }
}
