@import '../../../shared/variables';
@import '../../../shared/functions';

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 100vw;

  @include flexFcn(row, center, flex-start);
  // margin: 0.625rem 0;
  padding: 0.313rem;

  border-radius: $corners;
  border-top: 1px $primary-color solid;

  background-color: $back-color;
}
