@import '../../../shared/variables';
@import '../../../shared/functions';

.header-bar__nav {
  width: unset;

  .nav__btn {
    font-family: 'Courier New', Courier, monospace;

    color: $font-color;
    font-size: 1rem;

    padding: 0 0.625rem;

    &:hover,
    &:active {
      color: $primary-color !important;

      border-bottom: 1px $primary-color solid;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .header-bar__nav {
    width: 76%;
    margin: 0 0 0 4%;
  }
}
