@import '../../../shared/variables';
@import '../../../shared/functions';

.header-bar__language {
  font-family: 'Courier New', Courier, monospace;

  .language__dropdown {
    @each $property, $value in $button-style-remove {
      #{$property}: $value;
    }

    color: $font-color;
  }

  .dropdown__btn {
    @include flexFcn(row, center, center);
    font-size: 1rem;

    img {
      margin: 0 0.313rem;
      width: 1.5rem;
      height: auto;
    }
  }
}

.dropdown__option {
  font-family: 'Courier New', Courier, monospace;

  @include flexFcn(row, space-around, center);
  font-size: 1rem;

  width: 8vw;
  min-width: 5rem;

  img {
    margin: 0 0.313rem;
    width: 1.5rem;
    height: auto;
  }
}

@media (min-width: $breakpoint-mobile) {
  .header-bar__language {
    .language__dropdown {
      width: 10vw;
      min-width: 5rem;
    }
  }

  .dropdown__option {
    width: 10vw;
    min-width: 5rem;

    img {
      margin: 0 0.313rem;
      width: 1.5rem;
      height: auto;
    }
  }
}
