@import '../../../shared/variables';
@import '../../../shared/functions';

.header-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1px $primary-color solid;
  background-color: $back-color;

  @include flexFcn(row, space-between, center);
  margin: 0.625rem 0;

  .header-bar__logo {
    display: none;
  }
}

@media (min-width: $breakpoint-mobile) {
  .header-bar {
    .header-bar__logo {
      display: block;
      width: 4rem;
      height: auto;
    }
  }
}
